@using MediCore.BlazorUI.Models.UI


<nav aria-label="breadcrumb">

    <ol class="breadcrumb">

        @foreach (var crumb in Items)
        {
            <li class="breadcrumb-item">
                <a href="@crumb.Url">@crumb.Label</a>
            </li>
        }

    </ol>

</nav>

@code {

    [Parameter]
    public List<BreadcrumbItem> Items { get; set; } = new();

}

public class BreadcrumbItem
{
public string Label { get; set; }

public string Url { get; set; }
}



