<div class="dropdown">

    <button class="btn btn-outline-light position-relative" data-bs-toggle="dropdown">

        <i class="bi bi-bell" style="color: #285A48"></i>

        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
            3
        </span>

    </button>

    <ul class="dropdown-menu dropdown-menu-end">

        <li class="dropdown-header">Notifications</li>

        <li>
            <a class="dropdown-item">
                Low stock medicine detected
            </a>
        </li>

        <li>
            <a class="dropdown-item">
                New appointment scheduled
            </a>
        </li>

        <li>
            <a class="dropdown-item">
                Lab result uploaded
            </a>
        </li>

    </ul>

</div>












